<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<div>
    <h1>Monthly Budget Manager</h1>
</div>

<div class="main">
    <div class="left">
        <h1>Register</h1>
        {% if reg_messages: %}
            {% for message in reg_messages: %}
                <p style="color: rgb(168, 29, 29)">{{message}}</p>
            {% endfor %}
        {% endif %}
        <form action="/register" method="post">
            <label>User Name:</label>
            <input type="text" name="username">
            <label>Email:</label>
            <input type="text" name="email">
            <label>Password:</label>
            <input type="password" name="password" id="password">
            <label>Confirm Password:</label>
            <input type="password" name="cpass">
            <input type="submit" value="Register">
        </form>
    </div>
    <div class="right">
        <h1>Login</h1>
        {% if log_messages: %}
            {% for message in log_messages: %}
                <p style="color: rgb(168, 29, 29)">{{message}}</p>
            {% endfor %}
        {% endif %}
        <form action="/login" method="post">
            <label>Email:</label>
            <input type="text" name="email">
            <label>Password:</label>
            <input type="password" name="password">
            <input type="submit" value="Login">
        </form>
    </div>
</div>

</body>
</html>