<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

    <div>
        <h1>Monthly Budget Manager</h1>
        <h2>WELCOME, {{ user.username }}! </h2>
        <div>
            <a href="/dashboard">Home</a>|
            <a href="/budget">Start Budgetting</a>|
            <a href="/logout">Logout</a>
        </div>
    </div>

    <h3>{{budget.month}}, {{budget.year}}</h3>
    <div class="main">
        <h3>Income</h3>
        <table>
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Monthly Payment</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in budget.incomes: %}
                <tr>
                    <td>{{i.company_name}}</td>
                    <td>{{i.monthly_payment}}</td>
                    <td><a href="/income/edit/{{i.id}}">edit</a>|<a href="/income/delete/{{i.id}}">delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
            <h4>Income total: ${{income_sum}} </h4>
        </table>
    </div>
    <div>
        <h3>Add Income</h3>
        {% if income_messages: %}
            {% for message in income_messages: %}
                <p style="color: rgb(168, 29, 29)">{{message}}</p>
            {% endfor %}
        {% endif %}
        <div>
            <form action="/create/income" method="post">
                <label>Company Name:</label>
                <input type="text" name="company_name" id="company_name">
                <label>Monthly Payment:</label>
                <input type="text" name="monthly_payment" id="monthly_payment">
                <input type="hidden" name="budget_id" value="{{budget.id}}" id="budget_id">
                <input type="submit" value="Add">
            </form>
        </div>
    </div>

    <div class="main">
        <h3>Expenses</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Cost</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for e in expenses.expenses %}
                <tr>
                    <td>{{e.name}}</td>
                    <td>{{e.description}}</td>
                    <td>{{e.cost}}</td>
                    <td><a href="/expense/edit/{{e.id}}">edit</a>|<a href="/expense/delete/{{e.id}}">delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
            <h4>Expenses total: ${{expense_sum}}</h4>
        </table>
    </div>
    <div>
        <h3>Add Expenses</h3>
        {% if expense_messages: %}
            {% for message in expense_messages: %}
                <p style="color: rgb(168, 29, 29)">{{message}}</p>
            {% endfor %}
        {% endif %}
        <div>
            <form action="/create/expense" method="post">
                <label>Name:</label>
                <input type="text" name="name" id="name">
                <label>Description:</label>
                <input type="text" name="description" id="description">
                <label>Cost:</label>
                <input type="text" name="cost" id="cost">
                <input type="hidden" name="budget_id" value="{{budget.id}}" id="budget_id">
                <input type="submit" value="Add">
            </form>
        </div>
    </div>

</body>
</html>